/* body,
html {
  background-color: gray;
  height: 100%;
} */

html,
body {
  height: 100%;
  background-color: #5f6062;
}

body,
div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
}
/* .dropdown {
  width: 20%;
} */
/* #subscriber {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  z-index: 10;
  height: calc(100vh - 90px);
} */

.alert-centered {
  z-index: 100;
  margin: auto;
  width: 30%;
}
#subscriber {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100vh - 90px);
  z-index: 10;
}
#publisher {
  position: absolute;
  width: 360px;
  height: 240px;
  bottom: 110px;
  left: 10px;
  z-index: 100;
  border-radius: 5px;
  /* border: 3px solid white; */
}
.OT_publisher {
  border-radius: 20px;
}
#progress {
  width: 100%;
}
#preview {
  position: absolute;
  width: 720px;
  height: 480px;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  /* left: 10px; */
  z-index: 100;
  /* border: 3px solid white; */
  border-radius: 3px;
}
#audioVideoSettings {
  display: flex;
  flex-direction: column;
}
#audioMeter {
  transform: rotate(-90deg);
  width: 45px;
  position: absolute;
  top: 30px;
  height: 20px;
}

select {
  width: 10%;
}
.dropdown {
  width: 10%;
}

#controls {
  background-color: black;
  height: 90px;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  position: absolute;
  bottom: 0;
}

.iconButton {
  width: 50px;
  height: 50px;
  margin: 20px 10px !important;
  border: 1px solid white;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
#endCallButton {
  position: absolute;
  right: 30px;
}
